$color-primary: #E7BCE9;
$color-secondary: #C7E7D7;
$color-tercary: rgba(255,246,234,1);

$color-error: rgba(233,81,82,1);
$color-success: rgba(110,204,102,1);

$color-mono-white: rgba(255,255,255,1);
$color-mono-black: rgba(37,37,37,1);


$color-mono-gray-4: rgba(80,80,80,1);
$color-mono-gray-3: rgba(181,181,181,1);
$color-mono-gray-2: rgba(225,225,225,1);
$color-mono-gray-1: rgba(249,249,249,1);


$transparent-color : rgba(255, 255, 255, 0);
