.main {
    @include square(64px);
    position: fixed;
    z-index: 10000;
    // GSAP gère le positionnement via x et y
    // xPercent et yPercent sont définis dans le JS pour centrer le curseur
    pointer-events: none;
    @include flex(center, center);
    border-radius: 50%;
    will-change: transform;

    
    @include media("<desktop") {
        display: none;
    }
}


.outerSvg {
    position: absolute;
    will-change: transform;
    // Les animations sont maintenant gérées par GSAP dans animation.ts
}

.innerSvg {
    position: absolute;
    @include flex(center, center);
    @include absoluteCenter();
}

.background {
    @include square(50%);
    background-color: $black;
    @include flex(center, center);
    border-radius: 50%;
}

.circle {
    stroke: $black;
}