.cursor {
    @include square(64px);
    position: fixed;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @include flex(center, center);
    border-radius: 50%;
}


.outerSvg {
    position: absolute;
    will-change: transform;

    &.movingBorderAnimation {
        stroke-dasharray: 1;
        animation: movingBorderAnimationKeyFrame 0.8s ease-out alternate-reverse infinite;
    }

    &.ToClick {
        &:not(.clickedAnimation ) {
            animation: movingBorderAnimationKeyFrame 0.8s ease-out alternate-reverse infinite;

        }
    }

    &.clickedAnimation {
        transition: 0.1s ease-out;
        transform: scale(0.7);
    }
}

// MOVING BORDER
@keyframes movingBorderAnimationKeyFrame {
    from {
        transform: scale(0.8);
    }
    to {
        stroke-dashoffset: 100;
        transform: scale(1.1);
    }
}

.innerSvg {
    position: absolute;
    @include flex(center, center);
    @include absoluteCenter();
}

.background {
    @include square(50%);
    background-color: $color-primary;
    @include flex(center, center);
    border-radius: 50%;
}
