// Variables CSS globales
:root {
    --header-width: 160px;
}


body, a, button {
  @include media(">=desktop") {
    cursor: none;
  }
} 


.lazyLoadAnimation {
  opacity: 1 !important;
  transition: opacity 0.5s;
}
