.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    padding: $spacing-s;
    width: calc(100% - $spacing-s * 2);
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrollContainer {
    display: flex;
    align-items: center;
    animation: scroll 6s ease-in-out infinite;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-190%);
    }
}

.freelance {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    @include playfair(12px, 500, 1);
    letter-spacing: 1.2;
}

.text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

// MOVING BORDER
@keyframes movingBorderAnimationKeyFrame {

    to {
        stroke-dashoffset: 100;
    }
}

.movingBorderAnimation {
    stroke-dasharray: 1;
    animation: movingBorderAnimationKeyFrame 0.8s ease-out alternate-reverse infinite;
}