.announce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $spacing-xs 0 $spacing-xs $spacing-xs;
    border: 1px dashed $color-mono-black;
    border-radius: 6px;
    overflow: hidden;
    width: 160px;
    background-color: $white;
    // animation: movingBorderAnimationKeyFrame 0.8s ease-out alternate-reverse infinite;
}

.scrollContainer {
    display: flex;
    align-items: center;
    animation: scroll 6s ease-in-out infinite;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-190%);
    }
}

.freelance {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    @include playfair(12px, 500, 1);
    letter-spacing: 1.2;
}

.text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
} 