.pointContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: $color-mono-white-bg;
  border-radius: 60px;
  @include flex;
  gap: $spacing-xxs;
  border: 2px dashed $color-primary;
  padding: 7px 14px;
  color: $black;

  @include montreal(10px);

  &.position-left {
    flex-direction: row-reverse;

    .arrow {
      transform: rotate(180deg);
    }
  }
}

// .pointContainer:hover, .pointContainer:focus {
  
// }

.arrowContainer {
  display: flex;
  align-items: center;

  .arrow {
    .path {
      fill: $color-primary;
    }
  }
}
