.mainSvg {
    background-color: $white;
}
  
.path {
  // stroke-dasharray et stroke-dashoffset sont gérés par GSAP pour l'animation
  stroke: $black;
}

// Animation optionnelle pour un effet de "dessin" du path
// @keyframes drawPath {
//   from {
//     stroke-dashoffset: 1000;
//   }
//   to {
//     stroke-dashoffset: 0;
//   }
// }

// .animatedPath {
//   animation: drawPath 2s ease-out forwards;
// }

// @keyframes dashOffsetAnim {
//     to {
//         stroke-dashoffset: 0;
//     }
// }
