@use '@/styles/global.scss' as *;


body {
      cursor: none;
}

.cursor {
    @include square(248px);
    position: fixed;
    z-index: 2000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.outerSvg {
    position: absolute;
    will-change: transform;
}

.innerSvg {
    position: absolute;
    @include flex(center, center);
    @include absoluteCenter();
}

.background {
    @include square(50%);
    background-color: $color-primary;
}

.background, .cursor {
    @include flex(center, center);
    border-radius: 50%;
}


// TO CLICK STATE
.click {
    transform: scale(0.7);
}

// ONNCE CLICKED
.clickedAnimation {
    transition: 0.1s ease-out;
    transform: scale(1);
}
// MOVING BORDER
@keyframes movingBorderAnimationKeyFrame {
    from {
        transform: scale(0.8);
    }
    to {
        stroke-dashoffset: 100;
        transform: scale(1.1);
    }
}

.movingBorderAnimation {
    stroke-dasharray: 1;
    animation: movingBorderAnimationKeyFrame 0.8s ease-out alternate-reverse infinite;
}
