// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: 'Montreal';
    src: local('Montreal'), 
         url('/fonts/Montreal/Montreal-Regular.woff2') format('woff2'),
         url('/fonts/Montreal/Montreal-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montreal-Bold';
    src: local('Montreal-Bold'), 
         url('/fonts/Montreal/Montreal-Bold.woff2') format('woff2'),
         url('/fonts/Montreal/Montreal-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), 
         url('/fonts/Playfair/Playfair.woff2') format('woff2'),
         url('/fonts/Playfair/Playfair.woff') format('woff');
}
@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), 
         url('/fonts/Playfair/Playfair-Italic.woff2') format('woff2'),
         url('/fonts/Playfair/Playfair-Italic.woff') format('woff');
    font-style: italic;
}


@mixin montreal($fontSize: 16px, $fontWeight: normal, $lineHeight: 1.4, $fontFamily: 'Montreal') {
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	line-height: $lineHeight;
}

@mixin playfair($fontSize: 16px, $fontStyle: normal, $lineHeight: 1.4) {
	font-family: 'Playfair Display';
	font-size: $fontSize;
	font-style: $fontStyle;
	line-height: $lineHeight;
}