// @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// NOTE: Les fonts sont maintenant chargées via next/font/local dans src/utils/fonts/index.ts
// Les variables CSS sont injectées automatiquement par Next.js
// Les @font-face sont générés automatiquement par next/font

// Variables CSS pour utiliser les fonts (injectées par next/font)
// Utilisation : font-family: var(--font-montreal);


@mixin montreal($fontSize: 16px, $fontWeight: normal, $fontStyle: normal, $lineHeight: 1.4) {
	font-family: var(--font-montreal), system-ui, arial, sans-serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	font-style: $fontStyle;
	line-height: $lineHeight;
}

@mixin playfair($fontSize: 16px, $fontWeight: normal, $fontStyle: normal, $lineHeight: 1.4) {
	font-family: var(--font-playfair), serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	font-style: $fontStyle;
	line-height: $lineHeight;
}